body {
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*------------------ HEADER--------------- */
.menu-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.logo {
}
.address .link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address .link:hover,
.address .link:focus {
  color: #404bbf;
}
