:root {
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --accent-color: #404bbf;
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --primary-background-color: #ffffff;
}

body {
  font-family: var(--primary-font);
  font-size: 16px;
  background-color: var(--primary-background-color);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*-------------------- COMPONENTS--------------- */
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.section-description {
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

/*-------------------- /COMPONENTS--------------- */
/*------------------ HEADER--------------- */

.menu-link {
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.logo-header {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);
}

.accent {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #4d5ae5;
}

.contact-email,
.contact-phone-number {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contact-email:hover,
.contact-email:focus {
  color: var(--accent-color);
}

/*------------------ /HEADER--------------- */

/*-------------------- HERO--------------- */

.hero {
  background-color: var(--primary-text-color);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.08;

  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}

.modal-btn {
  font-weight: 500;
  line-height: 1.5;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;

  color: #ffffff;
  background: #4d5ae5;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
}
/*-------------------- /HERO--------------- */

/*-------------------- WHAT ARE WE DOING--------------- */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--primary-text-color);
}
/*-------------------- /WHAT ARE WE DOING--------------- */

.our-team {
  background-color: #f4f4fd;
}
/*-------------------- FOOTER--------------- */

.footer {
  background-color: var(--primary-text-color);
}
.footer-description {
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #f4f4fd;
}
.logo-footer {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* CLOUD */

  color: #f4f4fd;
}
